<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Calculadora de eficiencia energética para hogares inteligentes</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule la eficiencia energética de su hogar</h1>
      <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Especifique el número de dispositivos que utilizan electricidad:</h2>
    <ul class="list" id="list">
      <!-- Asignación #3 -->
      <li class="list__item">
        <a href={{lights + "/4" }}>
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>3-5 aparatos</span></a>
      </li>
      <li class="list__item">
        <a href={{lights + "/7" }}>
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>6-8 aparatos</span></a>
      </li>
      <li class="list__item">
        <a href={{lights + "/10" }}>
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>10+ aparatos</span></a>
      </li>
      <li class="list__item">
        <a href={{lights + "/10" }}>
          <img class="item__img" src="https://www.google.com/imgres?q=iconos%20ecol%C3%B3gicos&imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F2391%2F2391126.png&imgrefurl=https%3A%2F%2Fwww.flaticon.es%2Ficono-gratis%2Fecologico_2391126&docid=28zwfhUwWKRnJM&tbnid=DVXEvIFhsRT4nM&vet=12ahUKEwj8xLTL-KWKAxW9SDABHS3ZFjYQM3oECBgQAA..i&w=512&h=512&hcb=2&ved=2ahUKEwj8xLTL-KWKAxW9SDABHS3ZFjYQM3oECBgQAA">
          <span>Nuestra asamblea ecologica</span></a>
      </li>
      <!--  -->
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
